<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> GTD & Pomodoro System </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6">
        <h1>Getting Things Done!</h1>
        <p>
          Getting Things Done (GTD) is a life-work management system designed
          and authored by David Allen. It is used by millions around the world
          as a way to track your thoughts, projects and ideas. It’s about
          gathering your ideas, getting them down onto paper or into a digital
          system, organising the actions around them—and getting things done.
        </p>
        <br />
        <code>
          One of David Allen’s best known mottos is: “your mind is for having
          ideas, not holding them.”
        </code>
        <br />
        <br />
        <p>
          Keeping your mind clear and thoughts organised to achieve results, GTD
          in its simplest form is organising your life to make it
          manageable—getting stuff out of your head and into a medium to store
          them, for review and actioning later.
        </p>
        <ion-button
          routerLink="/app/capture"
          color="success"
          expand="block"
          fill="clear"
          shape="round"
        >
          Get Started
        </ion-button>
      </ion-col>
      <ion-col size="12" size-md="6">
        <img
          src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1190&q=80"
          alt=""
          srcset=""
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>The Five Pillars of GTD</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>1</ion-card-subtitle>
            <ion-card-title>Capture</ion-card-title>
          </ion-card-header>
          <ion-card-content
            >Capturing everything that demands your attention for the day. Any
            ideas that come into your head, any calls you have to make, emails
            you have to send or to-dos you have to complete.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>2</ion-card-subtitle>
            <ion-card-title>Clarify</ion-card-title>
          </ion-card-header>
          <ion-card-content
            >The next step is to clarify your ideas or tasks by factoring them
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>3</ion-card-subtitle>
            <ion-card-title>Organise</ion-card-title>
          </ion-card-header>
          <ion-card-content
            >Applying the GTD methodology suggests organising your clarified
            ideas into: <strong>Project</strong>, <strong>Time</strong> and
            <strong>Context</strong>.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>4</ion-card-subtitle>
            <ion-card-title>Reflect</ion-card-title>
          </ion-card-header>
          <ion-card-content
            >David advocates that a weekly review is a “Critical factor for
            success.” Reflecting on your ideas and tasks every week to see how
            they’re progressing.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>5</ion-card-subtitle>
            <ion-card-title>Engage</ion-card-title>
          </ion-card-header>
          <ion-card-content><h3>Get Those Things Done</h3> </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
